<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instagrammediapicker">

    <application>
        <activity android:name=".Main2Activity" />
        <activity android:name=".mediapickerinstagram.components.editor.EditorActivity" />
    </application>

</manifest>